<footer class="footer-wrapper">
    <div class="footer-wrapper__inside">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <div class="footer-copyright">
              <p><span>© 2023</span><a href="#">Connivia Tech</a></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="footer-menu text-end">
              <ul>
                <li>
                  <a href="#">About</a>
                </li>
                <li>
                  <a href="#">Team</a>
                </li>
                <li>
                  <a href="#">Contact</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</main>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgYKHZB_QKKLWfIRaYPCadza3nhTAbv7c"></script>

<script src="/js/plugins.min.js"></script>
<script src="/js/script.min.js"></script>
</body>
</html>